

.App {
  text-align: center;
  font-family:Arial,'Arial Narrow', sans-serif
}

.Row{
  display: flex;
  flex-direction: row;
  height: 100%;
  flex-wrap: wrap;
  padding: 2%;
  margin-right: 10%;
}

.Image {
  height: 40vmin;
  margin: 5%;
  display: block;
  border-radius: 10%;
  /*clip-path: polygon(20% 10%, 80% 5%, 95% 75%, 60% 90%, 15% 85%, 5% 50%);*/
}
.Logo{
  padding: 2%;
}
.Logo:hover{
  transform: scale(1.1);
  transition: 0.5s;
}
.col {
  padding: 3%;
  font-size: 0.75em;
}

.About{
  text-align: right;
  color:black;
  width:50%;
  margin-left:3%;
  margin-top: 10%;
  align-items: end;
  display: flex;
  flex-direction: column;
}
.About h1{
  font-size: 1.3em;
  animation: fadeIn 2s;
}
.About p{
  font-size: 0.6em;
  width: 100%;
  animation: 5s fadeIn;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.Name{
  font-size: 1.5em;
  color: #faf5ca;
}
.Contact {
  padding-right: 5%;
  display: flex;
  flex-direction: row;
  margin-left: 3%;
  width: 50%;
}
.Contact a{
  height: auto;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 2%;
  font-size: 0.6em;
  border-style: solid;
  border-width: 0.1vh;
  border-radius: 10px;
  color: black;
  text-decoration: none;
  box-shadow: 0px 0px 5px black;
}
.Contact a:hover{
  background-color: #faf5ca;
  color: black;
  transform: scale(1.1);
  transition: 0.5s;
  text-shadow: 0px 0px 5px black;
}

@media (prefers-reduced-motion: no-preference) {
  .Image {
    animation: Image-spin 2s ease-in-out 3;
  }
}

.App-header {
  /*background-color: #282c34;*/
  background-color: #8ACE00;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  text-decoration: none;
  color: #faf5ca;
}
.App-link:hover {
  font-weight: bold;
}

.Navbar {
  height: 100%;
  width: 12%;
  position: fixed;
  z-index: 1;
  top: 40%;
  right: 2%;
  transition: .5s ease;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  font-size: medium;
}
.navLink{
  font-weight:lighter;
  width: 100%;
  margin: 2%;
}
.navLinkFocus{
  margin: 5%;
  padding: 5%;
  font-weight: bold;
  border-style: solid;
  border-radius: 0%;
  border-width: 0.1vh;
  box-shadow: 0px 0px 1px black;
}

.navLink:hover{
  text-shadow: 0px 0px 1px black;
  transform: scale(1.2);
  transition: 0.5s; 
}


@keyframes Image-spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(6deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.brat {
  width:100%;
  height: 100%;
  background-color: #8ACE00;
  color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.brat h1{
  font-size: calc(20px + 2vmin);
  width: 78%;
  text-align: end;
  margin: 5%;
}
.brat table{
  width: 78%;
  margin-left:5%;
  padding-left: 10%;
  border-collapse: collapse;
}
.brat th{
  background-color: #8ACE00;
  color: black;
  text-align: end;
  border-bottom: 1px solid black;
  padding-bottom: 2%;
}

.brat td{
  padding-top: 2.5%;
  text-align: end;
}
.brat h2{
  text-align: end;
}
.brat ul{
  padding-left: 10%;
  text-align: end;
  list-style: none;
}

.white {
  color: "black";
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.white h1{
  font-size: calc(20px + 2vmin);
  width:80%;
  text-align: start;
  margin: 5%;
}

.card {
  min-width: 25vh;
  margin: 1%;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding: 2%;
  border-style: solid;
  border-radius: 10px;
  border-width: 0.3vh;
  border-color: black;
  text-decoration: none;
  color: black;
  text-align: end;
}
.card:hover{
  transform: scale(1.1);  
  transition: 0.5s;
  background-color: black;
  color: white;
}

.card h4:hover{
  font-weight: bold;
}
.card p{
  font-size: 0.8em;
}
.more{
  font-size: 0.8em;
  display: inline-block;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}
.card:hover .more{
  opacity: 1;
  max-height: 100px;
  transition: opacity 0.3s ease, max-height 0.3s ease;
}

.Scroll{
  width: 80%;
  height: 100%;
  min-height: 60vh;
  padding: 2%;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: auto auto auto;
  grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));  
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: smooth;
  grid-gap: 5%;
}
.scrollButtons{
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2%;
}
.scrollButtons button{
  border-style: solid;
  border-radius: 10px;
  border-width: 0.1vh;
  padding: 1%;
  color: black;
  font-size: 1em;
  text-decoration: none;
  box-shadow: 0px 0px 5px black;
}
.filter{
  width:80%;
  margin-left:5%;
  margin-bottom: 5%;
  align-items: start;
  display: flex;
  flex-direction: row;
}
.filter select{
  border-style: solid;
  border-radius: 0px;
  width: 10%;
  appearance: none;
  min-width: 15ch;
  max-width: 30ch;
  padding: 0.25em 0.5em;  
  line-height: 1.1;
}
.filter select:hover{
  background-color: whitesmoke;
  color: black;
}


.experience {
  width: 80%;
  text-align: start;
  align-items: start;
  margin-left: 5%;
  margin-right: 5%;
  flex-direction: column;
  display: inline-block;
  border-bottom:1px solid black;
}
.footer {
  font-size: 12px;
}
.footer a{
  color: #9bd555;
  font-weight: bold;
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .Image{
    display: none;
  }
  .About{
    width: 80%;
    margin-left: 0%;
    margin-top: 0%;
  }
  .Contact{
    width: 80%;
    margin-left: 0%;
  }
  .Navbar{
    width: 20%;
  }
  .Row{
    width: 70%;
  }
  .navLinkFocus{
    margin: 2%;
    padding: 2%;
  }
  .filter{
    width: 100%;
  }
  .card{
    min-width: 20vh;
  }
  .Scroll{
    width: 70%;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
  .scrollButtons{
    width: 70%;
  }
  .brat h1{
    width: 70%;
  }
  .brat table{
    width: 75%;
    margin-left: 0%;
    padding-left: 0%;
  }
  .brat .Row{
    width: 75%;
    flex-direction: column;
    align-items: end;
  }
  .col{
    padding: 1%;
  }
  .experience{
    width: 75%;
    margin-left: 2%;
    margin-right: 5%;
  }
}
@media screen and (min-width: 768px) {
  .Image{
    border-radius: 50%;
  }
  .About{
    width: 40%;
    margin-left: 0%;
    margin-top: 0%;
  }
  .About .Row{
    flex-direction: column;
    align-items: end;
  }
  .Contact{
    padding-right: 40%;
  }
  .Contact a{
    margin-left: 10%;
    padding-left: 2%;
    padding-right: 2%;
    border-style: none;
    box-shadow: none;
  }
  .card{
    min-width: 20vh;
  }
  .Scroll{
    width: 80%;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
  }
}
@media screen and (min-width: 1024px) {
  .About{
    width: 50%;
    margin-left: 0%;
    margin-top: 0%;
  }
  .filter{
    width: 80%;
    margin-left: 5%;
  }
  .card{
    min-width: 30vh;
  }
  .Scroll{
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
}







